      <!DOCTYPE html>
      <html lang="en">

      <head>

          <!-- META -->
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="description" content="<%= metaTags? metaTags.description : ''%>" />

          <!-- FAVICONS ICON -->
          <link rel="icon" href="/images/favicon.png" type="image/x-icon" />
          <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />

          <!-- PAGE TITLE HERE -->
          <title><%= metaTags? metaTags.title : 'Astrik International Ltd'%> </title>

          <!-- MOBILE SPECIFIC -->
          <meta name="viewport" content="width=device-width, initial-scale=1">

          <!-- [if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
	<![endif] -->


          <!-- BOOTSTRAP STYLE SHEET -->
          <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
          <!-- FONTAWESOME STYLE SHEET -->
          <link rel="stylesheet" type="text/css" href="/css/fontawesome/css/font-awesome.min.css" />


          <!-- OWL CAROUSEL STYLE SHEET -->
          <link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css">

          <!-- ICONS -->
          <link rel="stylesheet" href="/vendors/flaticon/flaticon.css" />
          <link rel="stylesheet" href="/vendors/linericon/style.css" />

          <!-- MAGNIFIC POPUP STYLE SHEET -->
          <link rel="stylesheet" type="text/css" href="/css/magnific-popup.min.css">
          <!-- LOADER STYLE SHEET -->
          <link rel="stylesheet" type="text/css" href="/css/loader.min.css">
          <!-- MAIN STYLE SHEET -->
          <link rel="stylesheet" type="text/css" href="/css/style.css">
          <!-- CUSTOM CSS -->
          <link rel="stylesheet" type="text/css" href="/css/custom.css">
          <!-- REVOLUTION SLIDER 4 STYLE -->
          <link rel="stylesheet" type="text/css" href="/css/rev-slider-4.css">
          <!--AXIOS -->
          <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


          <!-- REVOLUTION SLIDER CSS -->
          <link rel="stylesheet" type="text/css" href="/plugins/revolution/revolution/css/settings.css">
          <!-- REVOLUTION NAVIGATION STYLE -->
          <link rel="stylesheet" type="text/css" href="/plugin/revolution/revolution/css/navigation.css">

          <!-- GOOGLE FONTS -->
          <link
              href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,800,800i,900"
              rel="stylesheet">
          <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i"
              rel="stylesheet">
          <link href="https://fonts.googleapis.com/css?family=Crete+Round:400,400i&amp;subset=latin-ext"
              rel="stylesheet">

      </head>

      <body class="footer-fixed">

          <div class="page-wraper">

              <!-- HEADER START -->
              <header class="site-header header-style-1  nav-wide">

                  <div class="sticky-header main-bar-wraper">
                      <div class="main-bar bg-white p-t10">
                          <div class="container">
                              <div class="logo-header">
                                  <div class="logo-header-inner logo-header-one">
                                      <a href="/">
                                          <img src="/images/logo-dark.png" width="171" height="49" alt="" />
                                      </a>
                                  </div>
                              </div>
                              <!-- NAV Toggle Button -->
                              <button data-target=".header-nav" data-toggle="collapse" type="button"
                                  class="navbar-toggle collapsed">
                                  <span class="sr-only">Toggle navigation</span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                              </button>
                              <div class="extra-nav">
                                  <div class="extra-cell">
                                      <div class="dropdown share-icon-btn">
                                          <a href="/javascript:;" class="site-search-btn dropdown-toggle"
                                              data-toggle="dropdown"><i class="fa fa-share-alt"></i></a>
                                          <div class="dropdown-menu bg-white">
                                              <div class="top-bar">
                                                  <ul class="social-bx list-inline">
                                                      <li><a href="/javascript:void(0);" class="fa fa-facebook"></a>
                                                      </li>
                                                      <li><a href="https://www.twitter.com/AstrikIntLtd"
                                                              class="fa fa-twitter"></a></li>
                                                      <li><a href="https://www.linkedin.com/company/astrik-international/"
                                                              class="fa fa-linkedin"></a>
                                                      </li>
                                                      <li><a href="/javascript:void(0);" class="fa fa-rss"></a></li>
                                                      <li><a href="/javascript:void(0);" class="fa fa-youtube"></a></li>
                                                      <li><a href="/javascript:void(0);" class="fa fa-instagram"></a>
                                                      </li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- MAIN Vav -->
                              <div class="header-nav navbar-collapse collapse">
                                  <ul class=" nav navbar-nav">

                                      <script>
                                          location.href.split('/')[3] === '' ? document.write(
                                                  '<li class="active">') : document
                                              .write('<li >')
                                      </script><a href="/">Home</a>

                                      </li>
                                      <script>
                                          location.href.includes('services') ? document.write(
                                                  '<li class="active">') : document
                                              .write('<li >')
                                      </script>
                                      <a href="/services">Services</a>

                                      </li>
                                      <script>
                                          location.href.includes('projects') ? document.write(
                                                  '<li class="active">') : document
                                              .write('<li >')
                                      </script>
                                      <a href="/projects">Projects</a>

                                      </li>
                                      <script>
                                          location.href.includes('training') ? document.write(
                                                  '<li class="active">') : document
                                              .write('<li >')
                                      </script>
                                      <a href="/training">Training Center</a>

                                      </li>
                                      <script>
                                          location.href.includes('news') ? document.write(
                                                  '<li class="active">') : document
                                              .write('<li >')
                                      </script>
                                      <a href="/news">News</a>

                                      </li>
                                      <script>
                                          location.href.includes('careers') ? document.write(
                                                  '<li class="active">') : document
                                              .write('<li >')
                                      </script>
                                      <a href="/careers">Careers</a>

                                      </li>
                                      <script>
                                          location.href.includes('about') ? document.write(
                                                  '<li class="active">') : document
                                              .write('<li >')
                                      </script>
                                      <a href="/about">About Us</a>

                                      </li>
                                      <script>
                                          location.href.includes('contact') ? document.write(
                                                  '<li class="active">') : document
                                              .write('<li >')
                                      </script>
                                      <a href="/contact">Contact Us</a>

                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>

              </header>

              <!-- HEADER END -->

              <%- include('popup')%>