<%- include('_header')%>

<!-- CONTENT START -->
<div class="page-content">

    <!-- INNER PAGE BANNER -->
    <div class="wt-bnr-inr overlay-wraper bg-parallax bg-top-center" data-stellar-background-ratio="0.5"
        style="background-image:url('https://res.cloudinary.com/dvibmdi1y/image/upload/c_lfill,f_auto,g_auto,h_700,q_auto,w_1000/v1681117669/astrik/images/banner/6_tiffe4.jpg');">
        <div class="overlay-main bg-black opacity-07"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="text-white text-uppercase letter-spacing-5 font-18 font-weight-300">developing
                            infrastructure solutions around the world.</h2>
                    </div>
                </div>
                <!-- BREADCRUMB ROW -->
                <div class="p-tb20">
                    <div>
                        <ul class="wt-breadcrumb breadcrumb-style-2">
                            <li><a href="/">Home</a></li>
                            <li>About Us</li>
                        </ul>
                    </div>
                </div>
                <!-- BREADCRUMB ROW END -->
            </div>
        </div>
    </div>
    <!-- INNER PAGE BANNER END -->

    <!-- ABOUT COMPANY SECTION START -->
    <div class="section-full p-tb90 bg-gray square_shape2">
        <div class="container">
            <div class="section-content ">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <div class="m-about m-l50 m-r50">
                            <div class="owl-carousel about-us-carousel owl-btn-bottom-right">
                                <!-- COLUMNS 1 -->
                                <div class="item">
                                    <div class="ow-img wt-img-effect zoom-slow">
                                        <a href="javascript:void(0);"><img src="https://res.cloudinary.com/dvibmdi1y/image/upload/c_lfill,f_auto,g_auto,h_1100,q_auto,w_720/v1681117661/astrik/images/gallery/portrait/pic1_chaekn.jpg"
                                                alt=""></a>
                                    </div>
                                </div>
                                <!-- COLUMNS 2 -->
                                <div class="item">
                                    <div class="ow-img wt-img-effect zoom-slow">
                                        <a href="javascript:void(0);"><img src="https://res.cloudinary.com/dvibmdi1y/image/upload/c_lfill,f_auto,g_auto,h_1100,q_auto,w_720/v1681117680/astrik/images/gallery/portrait/pic3_hjkhsk.jpg"
                                                alt=""></a>
                                    </div>
                                </div>
                                <!-- COLUMNS 3 -->
                                <div class="item">
                                    <div class="owl-img wt-img-effect zoom-slow">
                                        <a href="javascript:void(0);"><img src="https://res.cloudinary.com/dvibmdi1y/image/upload/c_lfill,f_auto,g_auto,h_1100,q_auto,w_720/v1681117675/astrik/images/gallery/portrait/pic6_lwjutl.jpg"
                                                alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="m-about-containt text-black p-t30">
                            <span class="font-30 font-weight-300 text-uppercase">About Us</span>
                            <h2 class="font-40 text-uppercase">Our mission is to provide profession services by promoting the use of modern technological solutions</h2>
                            <p class="text-uppercase"><b>overview</b></p>
                            <p >ASTRIK International Ltd is an experienced, privately owned
                                Engineering Consulting Company with its Head Office based in Kigali City, Rwanda.
                                Since its incorporation in 2014, the Company has entered into partnerships with highly
                                recognized International Organizations/Institutions, which operate at the forefront of
                                technical excellence in developing infrastructure solutions around the world.</p>
                            <a href="/docs/astrik_profile.pdf" class="m-b15 site-button black radius-no text-uppercase" download><span
                                    class="font-12 letter-spacing-5"> Read More </span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ABOUT COMPANY SECTION END -->

    <!-- OUR SERVICES PARTNERS SECTION START -->
    <div id="partners" class="section-full bg-black p-tb90 square_shape1">
        <div class="container">
            <!-- TITLE START -->
            <div class="section-head text-left text-white">
                <h2 class="text-uppercase font-36">Our Partners</h2>
                <div class="wt-separator-outer">
                    <div class="wt-separator bg-white"></div>
                </div>
            </div>
            <!-- TITLE END -->
            <div class="section-content circle-block-outer" data-toggle="tab-hover">
                <div class="row">

                    <div class="col-md-4 col-sm-12 m-b30">
                        <div class="wt-icon-box-wraper right p-a20 m-b50 text-white" data-target="#tab1"
                            data-toggle="tab">
                            <div class="icon-content">
                                <h4 class="wt-tilte text-uppercase">Institution of Engineers Rwanda(IER)</h4>
                                <p>Consulting Firm with Registration number A005/REC/ECF/201.</p>
                            </div>
                        </div>
                        <div class="wt-icon-box-wraper right p-a20 m-b50 text-white" data-target="#tab2"
                            data-toggle="tab">
                            <div class="icon-content">
                                <h4 class="wt-tilte text-uppercase">Rwanda Capacity Building Secretariat</h4>
                                <p> To coordinate capacity Development and Employment Services as an expanded mandate of
                                    NCBS which underwent an institutional restructuring process to reflect the new
                                    mandate. </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 m-b30">
                        <div class="circle-content-pic tab-content ">
                            <div id="tab1" class="tab-pane active">
                                <div class="wt-box">
                                    <div class="wt-media text-primary m-b20 ">
                                        <img src="/images/gallery/portrait/ier.jpg" alt="">
                                    </div>
                                </div>
                            </div>

                            <div id="tab2" class="tab-pane">
                                <div class="wt-box">
                                    <div class="wt-media text-primary m-b20">
                                        <img src="/images/gallery/portrait/cesb.jpg" alt="">
                                    </div>
                                </div>
                            </div>

                            <div id="tab4" class="tab-pane">
                                <div class="wt-box">
                                    <div class="wt-media text-primary m-b20">
                                        <img src="/images/gallery/portrait/rppa.jpg" alt="">
                                    </div>
                                </div>
                            </div>

                            <div id="tab5" class="tab-pane">
                                <div class="wt-box">
                                    <div class="wt-media text-primary m-b20">
                                        <img src="/images/gallery/portrait/fidic.jpg" alt="">
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 m-b30">
                        <div class="wt-icon-box-wraper left p-a20 m-b50 text-white" data-target="#tab4"
                            data-toggle="tab">
                            <div class="icon-content">
                                <h4 class="wt-tilte text-uppercase">Rwanda Public Procurement Authority (RPPA)</h4>
                                <p>To provide technical assistance as needed and develop teaching material, organize
                                    trainings and lay down the requirements which must be met by public procurement
                                    officers</p>
                            </div>
                        </div>
                        <div class="wt-icon-box-wraper left p-a20 m-b50 text-white" data-target="#tab5"
                            data-toggle="tab">
                            <div class="icon-content">
                                <h4 class="wt-tilte text-uppercase">FIDIC</h4>
                                <p>contract Modules Accredited Trainer in Rwanda and Burundi</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
    <!-- OUR SERVICES PARTNERS SECTION END -->

    <!-- OUR STORY SECTION START -->
    <div class="section-full bg-gray p-tb90 square_shape1">
        <div class="container">
            <div class="section-content our-story">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="wt-media our-story-pic">
                            <img src="images/gallery/pic1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="wt-box our-story-detail">

                            <h2 class="text-uppercase">Our Vision</h2>
                            <p>To be a leading Engineering firm offering modern technological based solutions on public and private infrastructure that meets customer’s requirements and promoting engineering profession through skill and knowledge transfer.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="wt-box our-story-detail">

                            <h2 class="text-uppercase">Our Mission</h2>
                            <p>To provide profession services by promoting the use of modern technological solutions for efficiency, sustainability and affordable public and private infrastructure (development and maintenance) and enhance skills through capacity building of practitioners to ensure their competent and competitive on their job or market (Nationally and internationally)
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="wt-media our-story-pic">
                            <img src="images/gallery/pic3.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="wt-media our-story-pic">
                            <img src="images/gallery/pic4.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="wt-box our-story-detail">

                            <h2 class="text-uppercase">Our Core Values</h2>
                            <p>The Core values are Integrity, Professionalism, Innovation, Accountability, Passion, diversity and Social Responsibility to forge change that will deliver our mission and achieve our vision.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="wt-box our-story-detail">

                            <h2 class="text-uppercase">Our Philosophy</h2>
                            <p>. Put our client’s needs and quality of our work first.</p>
                            <p>. Transform knowledge into value for our clients’, staff’ and communities’ benefit.</p>
                            <p>. With full dedication, strive to conduct our business in a more integrity </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="wt-media our-story-pic">
                            <img src="images/gallery/pic5.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- OUR STORY SECTION END -->

</div>
<!-- CONTENT END -->


<%- include('_footer_white')%>