<%- include('_header')%>
        
        <!-- CONTENT START -->
        <div class="page-content">
        
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-parallax bg-top-center"  data-stellar-background-ratio="0.5"  style="background-image:url('https://res.cloudinary.com/dvibmdi1y/image/upload/c_lfill,f_auto,g_auto,h_700,q_auto,w_1000/v1681117669/astrik/images/banner/6_tiffe4.jpg');">
            	<div class="overlay-main bg-black opacity-07"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="text-white text-uppercase letter-spacing-5 font-18 font-weight-300">Get in touch with us</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        <div class="p-tb20">
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="/">Home</a></li>
                                    <li>Contact us</li>
                                </ul>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->
             
            <!-- SECTION CONTENTG START -->
            <div class="section-full p-tb80">
                <!-- LOCATION BLOCK-->
                <div class="container">
                    <!-- TITLE START -->
                    <div class="section-head text-left text-black">
                        <h2 class="text-uppercase font-36">Where to Find us </h2>
                        <div class="wt-separator-outer">
                            <div class="wt-separator bg-black"></div>
                        </div>
                    </div>
                    <!-- TITLE END -->                
                    <!-- GOOGLE MAP & CONTACT FORM -->
                    <div class="section-content">
                        <!-- CONTACT FORM-->
                        <div class="wt-box">
                            <form class="contact-form cons-contact-form" method="post" action="#">
                            	<div class="contact-one p-a40 p-r150">
                                            <div class="form-group">
                                                <input name="username" type="text" required class="form-control"  id="name" placeholder="Name">
                                            </div>
                                       
                                            <div class="form-group">
                                                <input name="email" type="text" class="form-control"  id="email" required placeholder="Email">
                                            </div>
                                       
                                            <div class="form-group">
                                                <textarea name="message" rows="3" class="form-control " id="message" required placeholder="Message"></textarea>
                                            </div>
                                        
                                            <button name="submit" type="submit" value="Submit" id="send-message" class="site-button black radius-no text-uppercase">
                                                    <span class="font-12 letter-spacing-5">Submit</span>
                                            </button>
                                            
                                            <div class="contact-info bg-black text-white p-a30">
                                                <div class="wt-icon-box-wraper left p-b30">
                                                    <div class="icon-sm"><i class="iconmoon-smartphone-1"></i></div>
                                                    <div class="icon-content text-white ">
                                                        <h5 class="m-t0 text-uppercase">Phone number</h5>
                                                        <p>(250) 788 304 735</p>
                                                    </div>
                                                </div>
                                                
                                                <div class="wt-icon-box-wraper left p-b30">
                                                    <div class="icon-sm"><i class="iconmoon-email"></i></div>
                                                    <div class="icon-content text-white">
                                                        <h5 class="m-t0  text-uppercase">Email address</h5>
                                                        <p>info@astrikltd.com</p>
                                                    </div>
                                                </div>
                                                
                                                <div class="wt-icon-box-wraper left">
                                                    <div class="icon-sm"><i class="iconmoon-travel"></i></div>
                                                    <div class="icon-content text-white">
                                                        <h5 class="m-t0  text-uppercase">Address info</h5>
                                                        <p>Kigali City, Gasabo District, Kimironko Street No KG51 ST House No 4</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            </form>
                        </div>
                    </div>
                </div>
           </div>
           
            <div class="section-full">
                <div class="gmap-outline">
                    <div id="gmap_canvas4" class="google-map">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d484.10737282511786!2d30.134339281249556!3d-1.9289110569748549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x19dca7891532cd4b%3A0xce000c8e95656e2a!2sAstrik%20International!5e0!3m2!1sen!2srw!4v1683646443415!5m2!1sen!2srw" style="border:0;width:100%;	height:460px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
           </div>           
            <!-- SECTION CONTENT END -->
            
        </div>
        <!-- CONTENT END -->

     
        <script src="/js/contactus.js"></script>
<%- include('_footer_white')%>