<%- include('_header')%>

<!-- CONTENT START -->
<div class="page-content">
    <!-- INNER PAGE BANNER -->
    <div class="wt-bnr-inr overlay-wraper bg-parallax bg-top-center" data-stellar-background-ratio="0.5"
        style="background-image:url(/images/banner/6.jpg);">
        <div class="overlay-main bg-black opacity-07"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="text-white text-uppercase letter-spacing-5 font-18 font-weight-300">Full-Service
                            Construction Solutions</h2>
                    </div>
                </div>
                <!-- BREADCRUMB ROW -->
                <div class="p-tb20">
                    <div>
                        <ul class="wt-breadcrumb breadcrumb-style-2">
                            <li><a href="/">Home</a></li>
                            <li>Services</li>
                        </ul>
                    </div>
                </div>
                <!-- BREADCRUMB ROW END -->
            </div>
        </div>
    </div>
    <!-- INNER PAGE BANNER END -->

    <!-- SECTION CONTENT START -->

    <div class="container p-tb80">

        <!-- TAB DEFAULT WITH NAV BG -->
        <div class="section-content">
            <div class="wt-tabs bg-tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#techinical-services-13">Technical Services
                            Overview</a></li>
                    <li><a data-toggle="tab" href="#transport-13">Transportation and Building</a></li>
                    <li><a data-toggle="tab" href="#sanitation-13">Water and Sanitation</a></li>
                    <li><a data-toggle="tab" href="#capacity-13">Capacity Building</a></li>
                </ul>
                <div class="tab-content">

                    <div id="techinical-services-13" class="tab-pane active">
                        <p class="m-b0">ASTRIK’s core competence in Engineering Infrastructure lie in providing highly
                            qualified, team of experts both Nationals and International in delivering quality services
                            by utilising best available resources.</p>
                            <div class="m-tb50">
                                <div class="section-content p-b30">
                                    <div class="wt-accordion acc-bg-gray" id="accordion5">
    
                                        <div class="panel wt-panel">
                                            <div class="acod-head">
                                                <h6 class="acod-title text-uppercase">
                                                    <a data-toggle="collapse" href="#collapseTwo5" class="collapsed"
                                                        data-parent="#accordion5">
                                                        Feasibility Study
                                                        <span class="indicator"><i class="fa fa-plus"></i></span>
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapseTwo5" class="acod-body collapse">
                                                <div class="section-content m-tb15">
                                                    <ul class="list-simple p-l15">
                                                        <li>Reconnaissance Survey
                                                            <ul>
                                                                <li>Problem Identification, Stakeholders consultation, preliminary studies and assessment of development potentials, formulation of development concepts, development strategies and scenarios, initial project appraisal, budgeting and programming of further investigations.</li>
                                                            </ul>
                                                        </li>
                                                        <li>Field Investigations
                                                            <ul>
                                                                <li>Topographic survey, aerial photography (Drone and mapping, meteorological and hydrological surveys, geological and hydro geological surveys, geophysical survey, materials survey, underground resources investigation, pedological survey, land use survey, land classification survey, transportation survey, traffic survey, demographic survey, socio ec onomic survey, marketin g survey, Environmental assessment (Negative/positive) and Mitigation measures.</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel wt-panel">
                                            <div class="acod-head">
                                                <h6 class="acod-title text-uppercase">
                                                    <a data-toggle="collapse" href="#collapseTwo6" class="collapsed"
                                                        data-parent="#accordion5">
                                                        Tender Preparation and Assistance
                                                        <span class="indicator"><i class="fa fa-plus"></i></span>
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapseTwo6" class="acod-body collapse">
                                                <div class="section-content m-tb15">
                                                    <ul class="list-simple p-l15">
                                                        <li>Tender Documents and Tender assistance
                                                            <ul>
                                                                <li>Identification of appropriate Project Contract (FIDIC rainbow suits), determination of Particular Conditions, The use of National Procurement guideline , Assistance in tendering and contract negotiations and awarding</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                    </div>

                    <div id="transport-13" class="tab-pane">
                        <p class="m-b0"> Praesent Suspendisse
                            et justo. mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar
                            lectus a est Curabitur eget orci Cras laoreet.
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent
                            mattis
                            commyolk augue aliquam ornare augue.</p>

                        <div class="m-tb50">
                            <div class="section-content p-b30">
                                <div class="wt-accordion acc-bg-gray" id="accordion5">

                                    <div class="panel wt-panel">
                                        <div class="acod-head">
                                            <h6 class="acod-title text-uppercase">
                                                <a data-toggle="collapse" href="#collapseTwo5" class="collapsed"
                                                    data-parent="#accordion5">
                                                    Feasibility Study
                                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseTwo5" class="acod-body collapse">
                                            <div class="section-content m-tb15">
                                                <ul class="list-simple p-l15">
                                                    <li>Reconnaissance Survey
                                                        <ul>
                                                            <li>Problem Identification, Stakeholders consultation, preliminary studies and assessment of development potentials, formulation of development concepts, development strategies and scenarios, initial project appraisal, budgeting and programming of further investigations.</li>
                                                        </ul>
                                                    </li>
                                                    <li>Field Investigations
                                                        <ul>
                                                            <li>Topographic survey, aerial photography (Drone and mapping, meteorological and hydrological surveys, geological and hydro geological surveys, geophysical survey, materials survey, underground resources investigation, pedological survey, land use survey, land classification survey, transportation survey, traffic survey, demographic survey, socio ec onomic survey, marketing survey, Environmental assessment (Negative/positive) and Mitigation measures.</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel wt-panel">
                                        <div class="acod-head">
                                            <h6 class="acod-title text-uppercase">
                                                <a data-toggle="collapse" href="#collapseTwo5" class="collapsed"
                                                    data-parent="#accordion5">
                                                    Tender Preparation and Assistance
                                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseTwo5" class="acod-body collapse">
                                            <div class="section-content m-tb15">
                                                <ul class="list-simple p-l15">
                                                    <li>Tender Documents and Tender assistance
                                                        <ul>
                                                            <li>Identification of appropriate Project Contract (FIDIC rainbow suits), determination of Particular Conditions, The use of National Procurement guideline , Assistance in tendering and contract negotiations and awarding</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="sanitation-13" class="tab-pane">
                        <p class="m-b0">Commyolk Suspendisse
                            et justo. Praesent mattis augue Aliquam ornare hendrerit augue Cras tellus In pulvinar
                            lectus a est Curabitur eget orci Cras laoreet.
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent
                            mattis
                            commyolk augue aliquam ornare augue.</p>

                        <div class="m-tb50">
                            <div class="section-content p-b30">
                                <div class="wt-accordion acc-bg-gray" id="accordion5">

                                    <div class="panel wt-panel">
                                        <div class="acod-head">
                                            <h6 class="acod-title text-uppercase">
                                                <a data-toggle="collapse" href="#collapseTwo5" class="collapsed"
                                                    data-parent="#accordion5">
                                                    Different Graphic Design
                                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseTwo5" class="acod-body collapse">
                                            <div class="section-content m-tb15">
                                                <ul class="list-simple p-l15">
                                                    <li>Dummy text is also used to demonstrate the appearance</li>
                                                    <li>Dummy text is also used to demonstrate the appearance
                                                        <ul>
                                                            <li>Phasellus iaculis neque</li>
                                                            <li>Purus sodales ultricies</li>
                                                        </ul>
                                                    </li>
                                                    <li>Dummy text is also used to demonstrate the appearance</li>
                                                    <li>Dummy text is also used to demonstrate the appearance</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="capacity-13" class="tab-pane">
                        <p class="m-b0">Commyolk Suspendisse
                            et justo. Praesent mattis augue Aliquam ornare hendrerit augue Cras tellus In pulvinar
                            lectus a est Curabitur eget orci Cras laoreet.
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent
                            mattis
                            commyolk augue aliquam ornare augue.</p>

                        <div class="m-tb50">
                            <div class="section-content p-b30">
                                <div class="wt-accordion acc-bg-gray" id="accordion5">

                                    <div class="panel wt-panel">
                                        <div class="acod-head">
                                            <h6 class="acod-title text-uppercase">
                                                <a data-toggle="collapse" href="#collapseTwo5" class="collapsed"
                                                    data-parent="#accordion5">
                                                    Different Graphic Design
                                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseTwo5" class="acod-body collapse">
                                            <div class="section-content m-tb15">
                                                <ul class="list-simple p-l15">
                                                    <li>Dummy text is also used to demonstrate the appearance</li>
                                                    <li>Dummy text is also used to demonstrate the appearance
                                                        <ul>
                                                            <li>Phasellus iaculis neque</li>
                                                            <li>Purus sodales ultricies</li>
                                                        </ul>
                                                    </li>
                                                    <li>Dummy text is also used to demonstrate the appearance</li>
                                                    <li>Dummy text is also used to demonstrate the appearance</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- SECTION CONTENT END  -->

</div>
<!-- CONTENT END -->

<%- include('_footer_white')%>