<%- include('_header')%>

<style>
    .wt-img-effect{
        height: 200px;
    }
</style>

<!-- CONTENT START -->
<div class="page-content">
    <!-- INNER PAGE BANNER -->
    <div class="wt-bnr-inr overlay-wraper bg-parallax bg-top-center" data-stellar-background-ratio="0.5"
        style="background-image:url('https://res.cloudinary.com/dvibmdi1y/image/upload/c_lfill,f_auto,g_auto,h_700,q_auto,w_1000/v1681117669/astrik/images/banner/6_tiffe4.jpg');">
        <div class="overlay-main bg-black opacity-07"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="text-white text-uppercase letter-spacing-5 font-18 font-weight-300">Full-Service
                            Construction Solutions</h2>
                    </div>
                </div>
                <!-- BREADCRUMB ROW -->
                <div class="p-tb20">
                    <div>
                        <ul class="wt-breadcrumb breadcrumb-style-2">
                            <li><a href="/">Home</a></li>
                            <li>Services</li>
                        </ul>
                    </div>
                </div>
                <!-- BREADCRUMB ROW END -->
            </div>
        </div>
    </div>
    <!-- INNER PAGE BANNER END -->

    <!-- SECTION CONTENT START -->

    <div class="container p-tb80">

        <!-- TAB DEFAULT WITH NAV BG -->
        <div class="section-content">
            <div class="wt-tabs bg-tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#road-transport-13">ROAD AND TRANSPORTATION</a></li>
                    <li><a data-toggle="tab" href="#building-13">BUILDING AND URBANIZATION</a></li>
                    <li><a data-toggle="tab" href="#sanitation-13">WATER AND SANITATION</a></li>
                    <li><a data-toggle="tab" href="#dams-13">IRRIGATION AND DAMS</a></li>
                    <li><a data-toggle="tab" href="#resilent-13">ENVIRONMENTAL AND CLIMATE RESILIENT </a></li>
                    <li><a data-toggle="tab" href="#infrastructure-13">CIVIL INFTRASTRUCTURE</a></li>
                    <li><a data-toggle="tab" href="#niche-13">NICHE AND SECTOR SPECIFIC </a></li>
                </ul>
                <div class="tab-content">

                    <div id="road-transport-13" class="tab-pane active">
                        <p class="m-b0">We provide unrivalled specialist know-how in designing state-of-the-art
                            facilities from the initial planning stage through to completion and further add value by
                            our commitment to a sustainable design agenda.</p>


                        <div class="section-content">
                            <ul class="list-checked black p-tb20">
                                <li>National Highway, Urban and Rural Roads </li>
                                <li>Design Build Maintain (DBM) and Output and Performance Based Road Contact ( OPRC)
                                </li>
                                <li>Storm Water Management ( Hydraulic structure, catchment studies)</li>
                                <li>Monitoring and Supervision of the construction works</li>
                                <li>Road Safety Systems and Road Safety Audit </li>
                                <li>Traffic Survey, Impact Studies (traffic flow management and operation including NMT)
                                </li>
                                <li>Transport Policy development and Institutional arrangement</li>
                                <li>Public Transport survey and Planning including DBL </li>
                                <li>Airport infrastructure planning and detailed design </li>
                            </ul>
                            <div
                                class="owl-carousel portfolio-carousel-nogap mfp-gallery gallery owl-btn-vertical-center">

                                <!-- COLUMNS 1 -->
                                <div class="item">
                                    <div class="ow-portfolio">
                                        <div class="ow-portfolio-img wt-img-overlay1 wt-img-effect zoom-slow">
                                            <img src="/images/gallery/service-1.jpg" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon">
                                                    <a href="images/gallery/service-1.jpg" class="mfp-link">
                                                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 2 -->
                                <div class="item">
                                    <div class="ow-portfolio">
                                        <div class="ow-portfolio-img wt-img-overlay1 wt-img-effect zoom-slow">
                                            <img src="/images/gallery/service-2.jpg" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon">
                                                    <a href="images/gallery/service-2.jpg" class="mfp-link">
                                                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 3 -->
                                <div class="item">
                                    <div class="ow-portfolio">
                                        <div class="ow-portfolio-img wt-img-overlay1 wt-img-effect zoom-slow">
                                            <img src="/images/gallery/service-3.jpg" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon">
                                                    <a href="images/gallery/service-3.jpg" class="mfp-link">
                                                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>

                    <div id="building-13" class="tab-pane">
                        <p class="m-b0">We provide a multi-disciplinary urban planning, landscaping and beautifications
                            and building technology service to complement our wide range of construction and consultancy
                            service. We deliver end-to-end building and civil engineering services, with our highly
                            skill team incorporating, structural, mechanical, and electrical and IT services. All our
                            design takes into consideration the maintenance strategies in the project life cycles. </p>


                        <div class="section-content">
                            <ul class="list-checked black p-tb20">
                                <li>Building Concept, 3-D model architectural design </li>
                                <li>Industrial building design. Permit and Supervision
                                </li>
                                <li>Urban settlement accessibility studies and community engagement</li>
                                <li>Landscaping, greening and beatification design and supervision</li>
                                <li>Urban drainage system planning and design and supervision </li>
                                <li>Flood assessment mitigation and retentions
                                </li>
                                <li>Urban parking design, ( on-street and Off street), Signage’s and street light,
                                    street addressing</li>
                                <li>Urban Master plan and settlement development/ real estates </li>
                                <li>Technical maintenance services</li>
                            </ul>
                            <div
                                class="owl-carousel portfolio-carousel-nogap mfp-gallery gallery owl-btn-vertical-center">

                                <!-- COLUMNS 1 -->
                                <div class="item">
                                    <div class="ow-portfolio">
                                        <div class="ow-portfolio-img wt-img-overlay1 wt-img-effect zoom-slow">
                                            <img src="/images/gallery/service-4.jpg" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon">
                                                    <a href="images/gallery/service-4.jpg" class="mfp-link">
                                                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 2 -->
                                <div class="item">
                                    <div class="ow-portfolio">
                                        <div class="ow-portfolio-img wt-img-overlay1 wt-img-effect zoom-slow">
                                            <img src="/images/gallery/service-5.jpg" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon">
                                                    <a href="images/gallery/service-5.jpg" class="mfp-link">
                                                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 3 -->
                                <div class="item">
                                    <div class="ow-portfolio">
                                        <div class="ow-portfolio-img wt-img-overlay1 wt-img-effect zoom-slow">
                                            <img src="/images/gallery/service-6.jpg" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon">
                                                    <a href="images/gallery/service-6.jpg" class="mfp-link">
                                                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div id="sanitation-13" class="tab-pane">
                        <p class="m-b0">To achieve the SDGs and to support safe, healthy urban living environments,
                            sanitation services must be organized into public service systems. We provide unrivalled
                            specialist know-how in designing state-of-the-art water and sanitation facilities from the
                            initial planning stage through to completion and further add value by our commitment to a
                            sustainable design agenda. Support PPP infrastructure-investment focused "solutions" to
                            service focused mandates, accountability systems, and resource planning and financial
                            management.</p>


                        <div class="section-content">
                            <ul class="list-checked black p-tb20">
                                <li>Improve Water quality Wastewater Treatment and Safe reuse </li>
                                <li>Sanitation support to Local Community and urban areas planning, design, and
                                    supervision (National, Urban, Rural)
                                </li>
                                <li>Liquid waste/Sewage system planning, design and Sewerage Treatment plant (STP)
                                    equipment, disposal and maintenance strategies</li>
                                <li>Water and Sanitation residential and industrial infrastructure planning, design, and
                                    construction.</li>
                                <li>Road Safety Systems and Road Safety Audit </li>
                                <li>Traffic Survey, Impact Studies (traffic flow management and operation including NMT)
                                </li>
                                <li>Solid Waste Disposal system, transfer stations and dumping site</li>
                                <li>Biomedical waste management </li>
                                <li>ICT waste management</li>
                            </ul>
                            <div
                                class="owl-carousel portfolio-carousel-nogap mfp-gallery gallery owl-btn-vertical-center">

                                <!-- COLUMNS 1 -->
                                <div class="item">
                                    <div class="ow-portfolio">
                                        <div class="ow-portfolio-img wt-img-overlay1 wt-img-effect zoom-slow">
                                            <img src="/images/gallery/service-7.jpg" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon">
                                                    <a href="images/gallery/service-7.jpg" class="mfp-link">
                                                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 2 -->
                                <div class="item">
                                    <div class="ow-portfolio">
                                        <div class="ow-portfolio-img wt-img-overlay1 wt-img-effect zoom-slow">
                                            <img src="/images/gallery/service-8.jpg" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon">
                                                    <a href="images/gallery/service-8.jpg" class="mfp-link">
                                                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 3 -->
                                <div class="item">
                                    <div class="ow-portfolio">
                                        <div class="ow-portfolio-img wt-img-overlay1 wt-img-effect zoom-slow">
                                            <img src="/images/gallery/service-9.jpg" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon">
                                                    <a href="images/gallery/service-9.jpg" class="mfp-link">
                                                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div id="dams-13" class="tab-pane">
                        <p class="m-b0">We provide full range of professional service for the planning, budgeting and
                            detailed design on the most technical accepted, economic and financial viability of
                            irrigation either on marshland or hillside command area within the Valley as well as dams
                            for the supply of water to livestock within the area.</p>


                        <div class="section-content">
                            <ul class="list-checked black p-tb20">
                                <li>Development of Irrigation and dam Master Plan </li>
                                <li>Irrigation and Drainage system design and supervision.
                                </li>
                                <li>Catchment assessment and evaluation and plans</li>
                                <li>Soil stabilization, Dam/Dyke structure, flood control, planning, design, and
                                    supervision </li>
                                <li>Wetland zoning and piping installations and water supply</li>
                                <li>SMES development on irrigation management system design and supervision
                                </li>
                                <li>Dyke maintenance strategies and Hydraulic modeling using generated flood profiles
                                    and flood scenarios.</li>
                                <li>Development of PPP projects in the irrigation and dam project </li>
                                <li>Preparation of the O& M of existing irrigation networks and equipment </li>
                            </ul>
                            <div
                                class="owl-carousel portfolio-carousel-nogap mfp-gallery gallery owl-btn-vertical-center">

                                <!-- COLUMNS 1 -->
                                <div class="item">
                                    <div class="ow-portfolio">
                                        <div class="ow-portfolio-img wt-img-overlay1 wt-img-effect zoom-slow">
                                            <img src="/images/gallery/service-10.jpg" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon">
                                                    <a href="images/gallery/service-10.jpg" class="mfp-link">
                                                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 2 -->
                                <div class="item">
                                    <div class="ow-portfolio">
                                        <div class="ow-portfolio-img wt-img-overlay1 wt-img-effect zoom-slow">
                                            <img src="/images/gallery/service-11.jpg" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon">
                                                    <a href="images/gallery/service-11.jpg" class="mfp-link">
                                                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 3 -->
                                <div class="item">
                                    <div class="ow-portfolio">
                                        <div class="ow-portfolio-img wt-img-overlay1 wt-img-effect zoom-slow">
                                            <img src="/images/gallery/service-12.jpg" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon">
                                                    <a href="images/gallery/service-12.jpg" class="mfp-link">
                                                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div id="resilent-13" class="tab-pane">
                        <p class="m-b0">We evaluate and identify mitigation of environmental and community risks,
                            advising our clients on how to make sustainable business improvements, helping them to
                            manage their reputation when it comes to the environment. Our teams of experts operate at
                            both a local and regional level, enabling us to have an understanding of the implications of
                            the East Africa region’s approaches to planning and the associated legislative requirements.
                        </p>


                        <div class="section-content">
                            <ul class="list-checked black p-tb20">
                                <li>Wetland restoration and Rehabilitation planning and design </li>
                                <li>Development of Urban greening and recreational park planning and construction
                                    supervision
                                </li>
                                <li>Assessment of environmental risks and sustainable mitigations</li>
                                <li>Environmental scoping and management plans</li>
                                <li>Socio-economic consulting services</li>
                                <li>Wetland mapping and GIS
                                </li>
                                <li>Land use and zoning planning.</li>
                                <li>Climate resilient infrastructure assessment and Management </li>
                            </ul>
                            <div
                                class="owl-carousel portfolio-carousel-nogap mfp-gallery gallery owl-btn-vertical-center">

                                <!-- COLUMNS 1 -->
                                <div class="item">
                                    <div class="ow-portfolio">
                                        <div class="ow-portfolio-img wt-img-overlay1 wt-img-effect zoom-slow">
                                            <img src="/images/gallery/service-13.jpg" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon">
                                                    <a href="images/gallery/service-13.jpg" class="mfp-link">
                                                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 2 -->
                                <div class="item">
                                    <div class="ow-portfolio">
                                        <div class="ow-portfolio-img wt-img-overlay1 wt-img-effect zoom-slow">
                                            <img src="/images/gallery/service-14.jpg" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon">
                                                    <a href="images/gallery/service-14.jpg" class="mfp-link">
                                                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 3 -->
                                <div class="item">
                                    <div class="ow-portfolio">
                                        <div class="ow-portfolio-img wt-img-overlay1 wt-img-effect zoom-slow">
                                            <img src="/images/gallery/service-15.jpg" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon">
                                                    <a href="images/gallery/service-15.jpg" class="mfp-link">
                                                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 4 -->
                                <div class="item">
                                    <div class="ow-portfolio">
                                        <div class="ow-portfolio-img wt-img-overlay1 wt-img-effect zoom-slow">
                                            <img src="/images/gallery/service-16.jpg" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon">
                                                    <a href="images/gallery/service-16.jpg" class="mfp-link">
                                                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div id="infrastructure-13" class="tab-pane">
                        <p class="m-b0">We provides a full range of field investigation and data collection using the
                            most state-of-the-art equipment and software
                            Owned by the Company for civil infrastructure design and supervision. We are able to provide
                            our clients with the most ancient methods of field data collection and layout work in the
                            following areas:

                        </p>


                        <div class="section-content">
                            <ul class="list-checked black p-tb20">
                                <li>Topography survey and establishment of Photogrammetric Ground Control (DGPS, Total
                                    Station, Dumpy level and GPS) </li>
                                <li>Geotechnical investigation and design </li>
                                <li>Field investigation and data collection Equipment (DCP, Gamin video, travel speed
                                    garget etc.)</li>
                                <li>Hydraulic investigation and design (bridge, Box culvert and Pipes culvert)</li>
                                <li>Retaining structure (Road works, building and landscaping)</li>
                                <li>Geographic Information Systems / GIS Management</li>
                                <li>Asset management system (data collection and data management)</li>
                            </ul>
                            <div
                                class="owl-carousel portfolio-carousel-nogap mfp-gallery gallery owl-btn-vertical-center">

                                <!-- COLUMNS 1 -->
                                <div class="item">
                                    <div class="ow-portfolio">
                                        <div class="ow-portfolio-img wt-img-overlay1 wt-img-effect zoom-slow">
                                            <img src="/images/gallery/service-17.jpg" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon">
                                                    <a href="images/gallery/service-17.jpg" class="mfp-link">
                                                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 2 -->
                                <div class="item">
                                    <div class="ow-portfolio">
                                        <div class="ow-portfolio-img wt-img-overlay1 wt-img-effect zoom-slow">
                                            <img src="/images/gallery/service-18.jpg" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon">
                                                    <a href="images/gallery/service-18.jpg" class="mfp-link">
                                                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 3 -->
                                <div class="item">
                                    <div class="ow-portfolio">
                                        <div class="ow-portfolio-img wt-img-overlay1 wt-img-effect zoom-slow">
                                            <img src="/images/gallery/service-19.jpg" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon">
                                                    <a href="images/gallery/service-19.jpg" class="mfp-link">
                                                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div id="niche-13" class="tab-pane">
                        <p class="m-b0">A niche service and Sector Specific is a segment of a larger market that can be defined by its own unique needs, preferences, or identity that makes it different from the market at large. We provide unrivalled specialist know-how in management services, community SMEs development for the road maintenance and rehabilitation from the initial planning stage through to completion and further add value by our commitment to a sustainable design agenda. We develop concept noted for virgin market such road safety campaign to the road user in association with National Police. We provide modern aerial survey using unmanned aerial vehicle (UAV- drone) in partnership with the renowned drone company in Rwanda. We use modern equipment for the underground utilities investigation and mapping.    

                        </p>


                        <div class="section-content">
                            <ul class="list-checked black p-tb20">
                                <li>Project Management planning, budgeting and life cycle strategies   </li>
                                <li>Community SMES development for the road maintenance and rehabilitation in the urban and rural areas</li>
                                <li>Field investigation and data collection Equipment (DCP, Gamin video, travel speed garget etc.)</li>
                                <li>Construction Contract Management advisory </li>
                                <li>Utilities investigation and mapping </li>
                                <li>Unmanned Arial Survey ( UAV-Drone)</li>
                            </ul>
                            <div
                                class="owl-carousel portfolio-carousel-nogap mfp-gallery gallery owl-btn-vertical-center">

                                <!-- COLUMNS 1 -->
                                <div class="item">
                                    <div class="ow-portfolio">
                                        <div class="ow-portfolio-img wt-img-overlay1 wt-img-effect zoom-slow">
                                            <img src="/images/gallery/service-20.jpg" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon">
                                                    <a href="images/gallery/service-20.jpg" class="mfp-link">
                                                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 2 -->
                                <div class="item">
                                    <div class="ow-portfolio">
                                        <div class="ow-portfolio-img wt-img-overlay1 wt-img-effect zoom-slow">
                                            <img src="/images/gallery/service-21.jpg" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon">
                                                    <a href="images/gallery/service-21.jpg" class="mfp-link">
                                                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 3 -->
                                <div class="item">
                                    <div class="ow-portfolio">
                                        <div class="ow-portfolio-img wt-img-overlay1 wt-img-effect zoom-slow">
                                            <img src="/images/gallery/service-22.jpg" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon">
                                                    <a href="images/gallery/service-22.jpg" class="mfp-link">
                                                        <i class="fa fa-search-plus wt-icon-box-xs"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- SECTION CONTENT END  -->

</div>
<!-- CONTENT END -->

<%- include('_footer_white')%>