<%- include('_header')%>

<!-- CONTENT START -->
<div class="page-content">
    <!-- INNER PAGE BANNER -->
    <div class="wt-bnr-inr overlay-wraper bg-parallax bg-top-center" data-stellar-background-ratio="0.5"
        style="background-image:url('https://res.cloudinary.com/dvibmdi1y/image/upload/c_lfill,f_auto,g_auto,h_700,q_auto,w_1000/v1681117669/astrik/images/banner/6_tiffe4.jpg');">
        <div class="overlay-main bg-black opacity-07"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="text-white text-uppercase letter-spacing-5 font-18 font-weight-300">Full-Service
                            Construction Solutions</h2>
                    </div>
                </div>
                <!-- BREADCRUMB ROW -->
                <div class="p-tb20">
                    <div>
                        <ul class="wt-breadcrumb breadcrumb-style-2">
                            <li><a href="/">Home</a></li>
                            <li>Services</li>
                        </ul>
                    </div>
                </div>
                <!-- BREADCRUMB ROW END -->
            </div>
        </div>
    </div>
    <!-- INNER PAGE BANNER END -->

    <!-- SECTION CONTENT START -->

    <div class="container p-tb80">

        <!-- TAB DEFAULT WITH NAV BG -->
        <div class="section-content">
            <div class="wt-tabs bg-tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#techinical-services-13">Technical Services
                            Overview</a></li>
                    <li><a data-toggle="tab" href="#transport-13">Transportation and Building</a></li>
                    <li><a data-toggle="tab" href="#sanitation-13">Water and Sanitation</a></li>
                    <li><a data-toggle="tab" href="#capacity-13">Capacity Building</a></li>
                </ul>
                <div class="tab-content">

                    <div id="techinical-services-13" class="tab-pane active">
                        <p class="m-b0">ASTRIK’s core competence in Engineering Infrastructure lie in providing highly
                            qualified, team of experts both Nationals and International in delivering quality services
                            by utilising best available resources.</p>
                        <div class="m-tb50">
                            <div class="section-content p-b30">
                                <div class="wt-accordion acc-bg-gray" id="accordion5">

                                    <div class="panel wt-panel">
                                        <div class="acod-head">
                                            <h6 class="acod-title text-uppercase">
                                                <a data-toggle="collapse" href="#collapseTwo5" class="collapsed"
                                                    data-parent="#accordion5">
                                                    Feasibility Study
                                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseTwo5" class="acod-body collapse">
                                            <div class="section-content m-tb15">
                                                <ul class="list-simple p-l15">
                                                    <li>Reconnaissance Survey
                                                        <ul>
                                                            <li>Problem Identification, Stakeholders consultation,
                                                                preliminary studies and assessment of development
                                                                potentials, formulation of development concepts,
                                                                development strategies and scenarios, initial project
                                                                appraisal, budgeting and programming of further
                                                                investigations.</li>
                                                        </ul>
                                                    </li>
                                                    <li>Field Investigations
                                                        <ul>
                                                            <li>Topographic survey, aerial photography (Drone and
                                                                mapping, meteorological and hydrological surveys,
                                                                geological and hydro geological surveys, geophysical
                                                                survey, materials survey, underground resources
                                                                investigation, pedological survey, land use survey, land
                                                                classification survey, transportation survey, traffic
                                                                survey, demographic survey, socio ec onomic survey,
                                                                marketin g survey, Environmental assessment
                                                                (Negative/positive) and Mitigation measures.</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel wt-panel">
                                        <div class="acod-head">
                                            <h6 class="acod-title text-uppercase">
                                                <a data-toggle="collapse" href="#collapseTwo6" class="collapsed"
                                                    data-parent="#accordion5">
                                                    Tender Preparation and Assistance
                                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseTwo6" class="acod-body collapse">
                                            <div class="section-content m-tb15">
                                                <ul class="list-simple p-l15">
                                                    <li>Tender Documents and Tender assistance
                                                        <ul>
                                                            <li>Identification of appropriate Project Contract (FIDIC
                                                                rainbow suits), determination of Particular Conditions,
                                                                The use of National Procurement guideline , Assistance
                                                                in tendering and contract negotiations and awarding</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel wt-panel">
                                        <div class="acod-head">
                                            <h6 class="acod-title text-uppercase">
                                                <a data-toggle="collapse" href="#collapseTwo7" class="collapsed"
                                                    data-parent="#accordion5">
                                                    Operation & Maintenance
                                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseTwo7" class="acod-body collapse">
                                            <div class="section-content m-tb15">
                                                <ul class="list-simple p-l15">
                                                    <li>Maintenance
                                                        <ul>
                                                            <li>Determine deterioration model, providing maintenance
                                                                strategies, budgeting using HDM4 program, devising
                                                                appropriate maintenance technology including LBT/HIMO.</li>
                                                        </ul>
                                                    </li>
                                                    <li>Operation
                                                        <ul>
                                                            <li>Monitoring on performance, safety audit, Condition
                                                                assessment (visual, mechanical, sampling, technical
                                                                audit), modeling of operation , post evaluation.</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div class="panel wt-panel">
                                        <div class="acod-head">
                                            <h6 class="acod-title text-uppercase">
                                                <a data-toggle="collapse" href="#collapseTwo8" class="collapsed"
                                                    data-parent="#accordion5">
                                                    Technical Detailed Design
                                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseTwo8" class="acod-body collapse">
                                            <div class="section-content m-tb15">
                                                <ul class="list-simple p-l15">
                                                    <li>TEngineering detailed design
                                                        <ul>
                                                            <li>Preliminary design, detailed engineering investigations and study, material tests, model tests, computer simulati on, detailed engineering design, cost estimate, construction planning, preparation of prequalification documents, preparation of bills of quantities (BoQ) and technical specifications.</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel wt-panel">
                                        <div class="acod-head">
                                            <h6 class="acod-title text-uppercase">
                                                <a data-toggle="collapse" href="#collapseTwo9" class="collapsed"
                                                    data-parent="#accordion5">
                                                    Rehabilitation, Upgrading and Construction
                                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseTwo9" class="acod-body collapse">
                                            <div class="section-content m-tb15">
                                                <ul class="list-simple p-l15">
                                                    <li>Monitoring and Supervision and Contract Management, devising Engineering Advice on Construction
                                                        <ul>
                                                            <li>Construction supervision and management, engineering advice on construction, inspection and testing.</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="transport-13" class="tab-pane">
                        <p class="m-b0">ASTRIK is specialised in providing engineering solutions across wide spectrum of disciplines.</p>

                        <div class="m-tb50">
                            <div class="section-content p-b30">
                                <div class="wt-accordion acc-bg-gray" id="accordion10">

                                    <div class="panel wt-panel">
                                        <div class="acod-head">
                                            <h6 class="acod-title text-uppercase">
                                                <a data-toggle="collapse" href="#collapseTwo12" class="collapsed"
                                                    data-parent="#accordion10">
                                                    Transportation
                                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseTwo12" class="acod-body collapse">
                                            <div class="section-content m-tb15">
                                                <ul class="list-simple p-l15">
                                                    <li>Infrastructure
                                                        <ul>
                                                            <li>road network planning and design for National, Urban, Rural /Feeder</li>
                                                        </ul>
                                                    </li>
                                                    <li>Hydraulic hydrology design
                                                        <ul>
                                                            <li>Including Geotechnical and landslide protections investigation and evaluation</li>
                                                        </ul>
                                                    </li>
                                                    <li>Transport policy development
                                                        <ul>
                                                            <li>Development of Transport Policy and Evaluation</li>
                                                        </ul>
                                                    </li>
                                                    <li>Airport infrastructure
                                                        <ul>
                                                            <li>design (Runway, Apron, Taxiway and support infrastructure)</li>
                                                        </ul>
                                                    </li>
                                                    <li>Road safety system design & Technical Audit</li>
                                                    <li>Traffic Survey, flows modelling /operation including Non motorised transport (NMT)/Green transport</li>
                                                    <li>Public Transport Surveying and Planning</li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel wt-panel">
                                        <div class="acod-head">
                                            <h6 class="acod-title text-uppercase">
                                                <a data-toggle="collapse" href="#collapseTwo11" class="collapsed"
                                                    data-parent="#accordion10">
                                                    Building Service and Urbanization
                                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseTwo11" class="acod-body collapse">
                                            <div class="section-content m-tb15">
                                                <ul class="list-simple p-l15">
                                                    <li>Building Concept, Modeling Architectural Design</li>
                                                    <li>Industrial building design and supervision</li>
                                                    <li>Landscaping, Greening Design and Supervision</li>
                                                    <li>Urban Drainage System Design and Supervision</li>
                                                    <li>Urban Parking Design, Signages and Street Lighting</li>
                                                    <li>Urban Masterplan and Settlement Development/ Real Estate</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="sanitation-13" class="tab-pane">
                        <p class="m-b0">The Scope of ASTRIK's Services involves Improvements in water sanitation Facilities.</p>

                        <div class="m-tb50">
                            <div class="section-content p-b30">
                                <div class="wt-accordion acc-bg-gray" id="accordion50">

                                    <div class="panel wt-panel">
                                        <div class="acod-head">
                                            <h6 class="acod-title text-uppercase">
                                                <a data-toggle="collapse" href="#collapseTwo51" class="collapsed"
                                                    data-parent="#accordion50">
                                                    Water and Sanitation
                                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseTwo51" class="acod-body collapse">
                                            <div class="section-content m-tb15">
                                                <ul class="list-simple p-l15">
                                                    <li>Water resource investigation and development</li>
                                                    <li>Water supply system planning, design and supervision (National, Urban)</li>
                                                    <li>Liquid waste/ Sewage system</li>
                                                    <li>Solid Waste Disposal system</li>
                                                    <li>Urban road utilities installation</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel wt-panel">
                                        <div class="acod-head">
                                            <h6 class="acod-title text-uppercase">
                                                <a data-toggle="collapse" href="#collapseTwo50" class="collapsed"
                                                    data-parent="#accordion50">
                                                    Irrigation and Dams
                                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseTwo50" class="acod-body collapse">
                                            <div class="section-content m-tb15">
                                                <ul class="list-simple p-l15">
                                                    <li>Wetland Irrigation and Drainage</li>
                                                    <li>Soil stabilization, Dam/Dyke</li>
                                                    <li>Wetland zoning</li>
                                                    <li>SMES development on irrigation management</li>
                                                    <li>Dyke maintenance strategist</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="capacity-13" class="tab-pane">
                        <p class="m-b0">ASTRIK is possession of a Full Scale Training Centre established to offer possibilities to Boost your Skillset in various Sectors.</p>

                        <div class="m-tb50">
                            <div class="section-content p-b30">
                                <div class="wt-accordion acc-bg-gray" id="accordion15">

                                    <div class="panel wt-panel">
                                        <div class="acod-head">
                                            <h6 class="acod-title text-uppercase">
                                                <a data-toggle="collapse" href="#collapseTwo15" class="collapsed"
                                                    data-parent="#accordion15">
                                                    Management Services
                                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseTwo15" class="acod-body collapse">
                                            <div class="section-content m-tb15">
                                                <ul class="list-simple p-l15">
                                                    <li>Project Management planning, budgeting and life cycle strategies</li>
                                                    <li>Community Facilitation on Road Maintenance</li>
                                                    <li>Construction Contract Management advisory</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel wt-panel">
                                        <div class="acod-head">
                                            <h6 class="acod-title text-uppercase">
                                                <a data-toggle="collapse" href="#collapseTwo150" class="collapsed"
                                                    data-parent="#accordion15">
                                                    Trainings For Capacity Building as FIDIC accredited Trainer
                                                    <span class="indicator"><i class="fa fa-plus"></i></span>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseTwo150" class="acod-body collapse">
                                            <div class="section-content m-tb15">
                                                <ul class="list-simple p-l15">
                                                    <li>On-job training on pavement technology, (materials, recycling for rehabilitation, upgrading,) NMT, Lab and field testing</li>
                                                    <li>FIDIC Conditions of Contracts</li>
                                                    <li>Labour Based Technology (LBT) for Road Maintenance, Rehabilitation</li>
                                                    <li>Road safety and Technical Audit Construction Equipment and Modern Technology</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- SECTION CONTENT END  -->

</div>
<!-- CONTENT END -->

<%- include('_footer_white')%>