<%- include('_header')%>

<!-- CONTENT START -->
<div class="page-content">
    <!-- WHO WE ARE SECTION START -->
    <div class="section-full p-t140 bg-repeat" style="background-image:url(images/background/ptn-1.png);">
        <div class="container-fluid">
            <div class="section-content">
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-12">
                        <div class="wt-left-part">
                            <div class="text-uppercase text-black">
                                <span class="font-30 font-weight-300">Welcome to </span>
                                <h2 class="font-40">
                                    Astrik training center (ASTC)
                                </h2>
                                <p>Astrik Training Centre, (ASTC) is located on the 2nd Floor of Astrik International
                                    Building. We offers various training and capacity building programs, skill
                                    development & field investigation modules which are internationally accredited. The
                                    training are presented by the Accredited Trainers who are renowned and recognized
                                    worldwide. Many of these courses are sponsored by the Government Agencies, Private
                                    Companies and individuals. The offered learning programs create opportunities for
                                    practitioners in the Construction Industry to acquire, on-job skill and share, and
                                    apply global and local knowledge and experiences in their job activities. There are
                                    two ways of imparting training and capacity building the most preferred is through
                                    face-to –face interactions between trainer and participants. The other is by using
                                    on-line (virtual) training. The Centre is equipped with mordent training equipment
                                    (computers i11, modelling software, sound system, smart screen (all in one)) which
                                    create a pleasant studying environment in both face-to face and on-line training
                                    method. The Centre also a restaurant which offers delicious menu to the participants
                                    during the training.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="m-carousel-2">
                            <div class="owl-carousel carousel-hover home-carousel-2 owl-btn-vertical-center">
                                <!-- COLUMNS 1 -->
                                <div class="item">
                                    <div class="wt-box">
                                        <div class="ow-img wt-carousel-block gradi-black">
                                            <img src="images/projects/pic-1.jpg" alt="">
                                            <div class="p-a50 wt-carousel-info text-white">
                                                <div class="carousel-line">
                                                    <h2 class="font-28 font-weight-400 m-b10">New Acropolis Museum</h2>
                                                    <p class="m-b0">Mattis ex non urna condimentum, eget eleifend diam
                                                        molestie. Curabitur lorem enimnulla sed,
                                                        egestas, maximus non nulla sed, egestas venenatis felis
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 2 -->
                                <div class="item">
                                    <div class="wt-box">
                                        <div class="ow-img wt-carousel-block gradi-black">
                                            <img src="images/projects/pic-2.jpg" alt="">
                                            <div class="p-a50 wt-carousel-info text-white">
                                                <div class="carousel-line">
                                                    <h2 class="font-28 font-weight-400 m-b10">New Acropolis Museum</h2>
                                                    <p class="m-b0">Mattis ex non urna condimentum, eget eleifend diam
                                                        molestie. Curabitur lorem enimnulla sed,
                                                        egestas, maximus non nulla sed, egestas venenatis felis
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 3 -->
                                <div class="item">
                                    <div class="wt-box">
                                        <div class="ow-img wt-carousel-block gradi-black">
                                            <img src="images/projects/pic-3.jpg" alt="">
                                            <div class="p-a50 wt-carousel-info text-white">
                                                <div class="carousel-line">
                                                    <h2 class="font-28 font-weight-400 m-b10">New Acropolis Museum</h2>
                                                    <p class="m-b0">Mattis ex non urna condimentum, eget eleifend diam
                                                        molestie. Curabitur lorem enimnulla sed,
                                                        egestas, maximus non nulla sed, egestas venenatis felis
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 4 -->
                                <div class="item">
                                    <div class="wt-box">
                                        <div class="ow-img wt-carousel-block gradi-black">
                                            <img src="images/projects/pic-4.jpg" alt="">
                                            <div class="p-a50 wt-carousel-info text-white">
                                                <div class="carousel-line">
                                                    <h2 class="font-28 font-weight-400 m-b10">New Acropolis Museum</h2>
                                                    <p class="m-b0">Mattis ex non urna condimentum, eget eleifend diam
                                                        molestie. Curabitur lorem enimnulla sed,
                                                        egestas, maximus non nulla sed, egestas venenatis felis
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 5 -->
                                <div class="item">
                                    <div class="wt-box">
                                        <div class="ow-img wt-carousel-block gradi-black">
                                            <img src="images/projects/pic-5.jpg" alt="">
                                            <div class="p-a50 wt-carousel-info text-white">
                                                <div class="carousel-line">
                                                    <h2 class="font-28 font-weight-400 m-b10">New Acropolis Museum</h2>
                                                    <p class="m-b0">Mattis ex non urna condimentum, eget eleifend diam
                                                        molestie. Curabitur lorem enimnulla sed,
                                                        egestas, maximus non nulla sed, egestas venenatis felis
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-bg-img">
                                <img src="images/slider-corner.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="hilite-title p-lr20 m-tb20 text-left text-uppercase bdr-gray bdr-left">
                    <strong>4+ Programs</strong>
                    <span class="text-black">Available</span>
                </div>
            </div>
        </div>
    </div>
    <!-- WHO WE ARE SECTION END -->

    <!-- OUR EXPERTS SECTION START -->
    <div class="section-full bg-gray square_shape3">
        <div class="container-fluid">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6 col-sm-12 bg-black square_shape1 square_shape2">
                        <div class="wt-left-part m-experts p-t90">
                            <!-- TITLE START -->
                            <div class="section-head text-left text-white">
                                <h2 class="text-uppercase font-36">Our experts</h2>
                                <div class="wt-separator-outer">
                                    <div class="wt-separator bg-white"></div>
                                </div>
                            </div>
                            <!-- TITLE END -->
                            <div class="wt-team-six large-pic">
                                <div class="wt-team-media wt-thum-bx">
                                    <img src="images/our-team5/pic1.jpg" alt="">
                                </div>
                                <div class="wt-team-info text-center p-lr10 p-tb20 text-white">
                                    <h2 class="wt-team-title text-uppercase"><a href="javascript:void(0);"
                                            class="text-white font-32 font-weight-500">Eng. Dr. elias twagira</a></h2>
                                    <p class="font-22">Organizer</p>
                                    <ul class="social-icons social-md social-square social-dark white-border has-bg">
                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="hilite-title p-lr20 m-tb20 text-left text-uppercase bdr-gray bdr-left">
                                <strong class="text-gray">Experts</strong>
                                <span class="text-white">Team Members</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="wt-right-part team-outer">
                            <div class="row">
                                <!-- COLUMNS 1 -->
                                <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc m-tb15">
                                    <div class="wt-team-six bg-white">
                                        <div class="wt-team-media wt-thum-bx wt-img-overlay1">
                                            <img src="images/our-team5/pic2.jpg" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon">
                                                    <ul class="social-icons social-square social-dark">
                                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a>
                                                        </li>
                                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a>
                                                        </li>
                                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a>
                                                        </li>
                                                        <li><a href="javascript:void(0);" class="fa fa-youtube"></a>
                                                        </li>
                                                        <li><a href="javascript:void(0);" class="fa fa-instagram"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wt-team-info text-center bg-white p-lr10 p-tb20">
                                            <h5 class="wt-team-title text-uppercase m-a0"><a
                                                    href="javascript:void(0);">Eng. Robert Werth</a></h5>
                                            <p class="m-b0">Traineer</p>
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 2 -->
                                <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc m-tb15">
                                    <div class="wt-team-six bg-white">
                                        <div class="wt-team-media wt-thum-bx wt-img-overlay1">
                                            <img src="images/our-team5/pic3.jpg" alt="">
                                            <div class="overlay-bx">
                                                <div class="overlay-icon">
                                                    <ul class="social-icons social-square social-dark">
                                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a>
                                                        </li>
                                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a>
                                                        </li>
                                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a>
                                                        </li>
                                                        <li><a href="javascript:void(0);" class="fa fa-youtube"></a>
                                                        </li>
                                                        <li><a href="javascript:void(0);" class="fa fa-instagram"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wt-team-info text-center bg-white p-lr10 p-tb20">
                                            <h5 class="wt-team-title text-uppercase m-a0"><a
                                                    href="javascript:void(0);">Eng. Bogdan Oprea</a></h5>
                                            <p class="m-b0">Traineer</p>
                                            <!---->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
    <!-- OUR EXPERTS SECTION END -->


    <!-- OUR PROGRAMS SECTION START -->

    <div class="container p-tb80">
        <!-- TITLE START -->
        <div class="section-head">
            <h3>OUR PROGRAMS</h3>
            <div class="wt-separator-outer">
                <div class="wt-separator bg-black"></div>
            </div>
        </div>
        <!-- TITLE END -->

        <!-- PROGRAMS  BG DARK -->
        <div class="section-content p-b30">
            <div class="wt-accordion acc-bg-dark" id="accordion9">
                <div class="panel wt-panel">
                    <div class="acod-head acc-actives">
                        <h6 class="acod-title text-uppercase">
                            <a data-toggle="collapse" href="#collapseOne9" data-parent="#accordion9">
                                project management professional
                                <span class="indicator"><i class="fa fa-plus"></i></span>
                            </a>
                        </h6>
                    </div>
                    <div id="collapseOne9" class="acod-body collapse in">
                        <div class="acod-content p-tb15">Web design lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised sheets containing Lorem Ipsum passagese.
                        </div>
                    </div>
                </div>
                <div class="panel wt-panel">
                    <div class="acod-head">
                        <h6 class="acod-title text-uppercase">
                            <a data-toggle="collapse" href="#collapseTwo9" class="collapsed" data-parent="#accordion9">
                                international road federation
                                <span class="indicator"><i class="fa fa-plus"></i></span>
                            </a>
                        </h6>
                    </div>
                    <div id="collapseTwo9" class="acod-body collapse">
                        <div class="acod-content p-tb15">Graphic design lorem Ipsum is simply dummy text of the printing
                            and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                            the when an unknown printer took a galley of type and scrambled it to make a type specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining essentially unchanged. It was popularised sheets containing Lorem
                            Ipsum passagese.</div>
                    </div>
                </div>
                <div class="panel wt-panel">
                    <div class="acod-head">
                        <h6 class="acod-title text-uppercase">
                            <a data-toggle="collapse" href="#collapseThree9" class="collapsed"
                                data-parent="#accordion9">
                                fidic training program
                                <span class="indicator"><i class="fa fa-plus"></i></span>
                            </a>
                        </h6>
                    </div>
                    <div id="collapseThree9" class="acod-body collapse">
                        <div class="acod-content p-tb15">Developement lorem Ipsum is simply dummy text of the printing
                            and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                            the when an unknown printer took a galley of type and scrambled it to make a type specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining essentially unchanged. It was popularised sheets containing Lorem
                            Ipsum passagese.</div>
                    </div>
                </div>
                <div class="panel wt-panel">
                    <div class="acod-head">
                        <h6 class="acod-title text-uppercase">
                            <a data-toggle="collapse" href="#collapseFour9" class="collapsed" data-parent="#accordion9">
                                asphalt technology
                                <span class="indicator"><i class="fa fa-plus"></i></span>
                            </a>
                        </h6>
                    </div>
                    <div id="collapseFour9" class="acod-body collapse">
                        <div class="acod-content p-tb15">Developement lorem Ipsum is simply dummy text of the printing
                            and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                            the when an unknown printer took a galley of type and scrambled it to make a type specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining essentially unchanged. It was popularised sheets containing Lorem
                            Ipsum passagese.</div>
                    </div>
                </div>
                <div class="panel wt-panel">
                    <div class="acod-head">
                        <h6 class="acod-title text-uppercase">
                            <a data-toggle="collapse" href="#collapseSix9" class="collapsed" data-parent="#accordion9">
                                hdm-4 version 2 training courses
                                <span class="indicator"><i class="fa fa-plus"></i></span>
                            </a>
                        </h6>
                    </div>
                    <div id="collapseSix9" class="acod-body collapse">
                        <div class="acod-content p-tb15">Developement lorem Ipsum is simply dummy text of the printing
                            and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                            the when an unknown printer took a galley of type and scrambled it to make a type specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining essentially unchanged. It was popularised sheets containing Lorem
                            Ipsum passagese.</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- OUR PROGRAMS SECTION END -->



</div>
<!-- CONTENT END -->
<%- include('_footer')%>