<%- include('_header')%>

<!-- CONTENT START -->
<div class="page-content">
    <!-- WHO WE ARE SECTION START -->
    <div class="section-full p-t140 bg-repeat" style="background-image:url(images/background/ptn-1.png);">
        <div class="container-fluid">
            <div class="section-content">
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-12">
                        <div class="wt-left-part">
                            <div class="text-black">
                                <span class="text-uppercase font-30 font-weight-300">Welcome to </span>
                                <h2 class="text-uppercase font-40">
                                    Astrik training center (ASTC)
                                </h2>
                                <p>Astrik Training Centre, (ASTC) is located on the 2nd Floor of Astrik International
                                    Building. We offers various training and capacity building programs, skill
                                    development & field investigation modules which are internationally accredited. The
                                    training are presented by the Accredited Trainers who are renowned and recognized
                                    worldwide. Many of these courses are sponsored by the Government Agencies, Private
                                    Companies and individuals. The offered learning programs create opportunities for
                                    practitioners in the Construction Industry to acquire, on-job skill and share, and
                                    apply global and local knowledge and experiences in their job activities. There are
                                    two ways of imparting training and capacity building the most preferred is through
                                    face-to –face interactions between trainer and participants. The other is by using
                                    on-line (virtual) training. The Centre is equipped with mordent training equipment
                                    (computers i11, modelling software, sound system, smart screen (all in one)) which
                                    create a pleasant studying environment in both face-to face and on-line training
                                    method. The Centre also a restaurant which offers delicious menu to the participants
                                    during the training.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="m-carousel-2">
                            <div class="owl-carousel carousel-hover home-carousel-2 owl-btn-vertical-center">
                                <!-- COLUMNS 1 -->
                                <div class="item">
                                    <div class="wt-box">
                                        <div class="ow-img wt-carousel-block gradi-black">
                                            <img src="images/projects/pic-1.jpg" alt="">
                                            <div class="p-a50 wt-carousel-info text-white">
                                                <div class="carousel-line">
                                                    <h2 class="font-28 font-weight-400 m-b10">We promote new technologies and on-job skill development</h2>
                                                    <p class="m-b0">We offers various training and capacity building programs, skill development & field investigation modules which are internationally accredited.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 2 -->
                                <div class="item">
                                    <div class="wt-box">
                                        <div class="ow-img wt-carousel-block gradi-black">
                                            <img src="images/projects/pic-2.jpg" alt="">
                                            <div class="p-a50 wt-carousel-info text-white">
                                                <div class="carousel-line">
                                                    <h2 class="font-28 font-weight-400 m-b10">FIDIC Training program</h2>
                                                    <p class="m-b0">FIDIC conditions of contract (red, yellow, green, silver and pink books)
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 3 -->
                                <div class="item">
                                    <div class="wt-box">
                                        <div class="ow-img wt-carousel-block gradi-black">
                                            <img src="images/projects/pic-3.jpg" alt="">
                                            <div class="p-a50 wt-carousel-info text-white">
                                                <div class="carousel-line">
                                                    <h2 class="font-28 font-weight-400 m-b10">Project Management for Professional (PMP)</h2>
                                                    <p class="m-b0">On-job training on pavement technology, (materials, recycling for rehabilitation, upgrading,) NMT, Lab and field testing  
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 4 -->
                                <div class="item">
                                    <div class="wt-box">
                                        <div class="ow-img wt-carousel-block gradi-black">
                                            <img src="images/projects/pic-4.jpg" alt="">
                                            <div class="p-a50 wt-carousel-info text-white">
                                                <div class="carousel-line">
                                                    <h2 class="font-28 font-weight-400 m-b10">Road safety and Technical Audit</h2>
                                                    <p class="m-b0">Other Tailored Made Modules as per the Specific Need ( Leadership for Managers, Modelling software )
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-bg-img">
                                <img src="images/slider-corner.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="hilite-title p-lr20 m-tb20 text-left text-uppercase bdr-gray bdr-left">
                    <strong>4+ Programs</strong>
                    <span class="text-black">Available</span>
                </div>
            </div>
        </div>
    </div>
    <!-- WHO WE ARE SECTION END -->

    <!-- OUR PROGRAMS SECTION START -->

    <div class="container p-tb80">
        <!-- TITLE START -->
        <div class="section-head">
            <h3>OUR PROGRAMS</h3>
            <div class="wt-separator-outer">
                <div class="wt-separator bg-black"></div>
            </div>
        </div>
        <!-- TITLE END -->

        <!-- PROGRAMS  BG DARK -->
        <div class="section-content p-b30">
            <div class="wt-accordion acc-bg-dark" id="accordion9">
                <div class="panel wt-panel">
                    <div class="acod-head">
                        <h6 class="acod-title text-uppercase">
                            <a data-toggle="collapse" href="#collapseOne9" data-parent="#accordion9">
                                project management professional
                                <span class="indicator"><i class="fa fa-plus"></i></span>
                            </a>
                        </h6>
                    </div>
                    <div id="collapseOne9" class="acod-body collapse">
                        

                    </div>

                </div>
                <div class="panel wt-panel">
                    <div class="acod-head">
                        <h6 class="acod-title text-uppercase">
                            <a data-toggle="collapse" href="#collapseTwo9" class="collapsed" data-parent="#accordion9">
                                international road federation
                                <span class="indicator"><i class="fa fa-plus"></i></span>
                            </a>
                        </h6>
                    </div>
                    <div id="collapseTwo9" class="acod-body collapse">
                        <div class="acod-content p-tb15">
                            <p><b>Training on Road Network Safety Management and Audit</b></p>
                            Risk assessment procedures can typically be applied at successive stages of road planning,
                            design, opening and operations. They all serve the common purpose of identifying risk
                            factors related to road design or traffic control that may lead to crashes, or make crashes
                            more severe. In many cases, they help network highway operators and city traffic departments
                            identify engineering weaknesses and hazardous road sections, even in the absence of robust
                            traffic injury data. <br>
                            This course introduces practical pathways to improved road safety performance through
                            policies and measures that target recurrent road safety management and engineering
                            weaknesses.
                            <br>
                            <br>
                            <br>
                            <p><b>Training on Implementing Pavement Management Systems</b></p>
                            The goal of the training workshop will be to help those working with PMS systems better
                            understand the damage mechanisms that affect the lifetime of paved and gravel road networks
                            and how they can be monitored with different technologies. Theoretical and practical
                            examples will be given on how organizations adopt more economical proactive maintenance
                            policies. The contents will be based on the latest research results as well as the hands-on
                            experiences of the course instructor. <br>
                            <br>
                            <br>
                            <br>
                            <p><b>Training on Roadway Work Zone Safety</b></p>
                            This in-person, interactive training workshop will cover the primary principles of Roadway
                            Work Zone Safety. The content will be based on Africa, US and international standards as
                            well as the hands-on experience of the course instructors. The workshop is addressed at
                            highway agency executives, risk managers, occupational safety & health professionals, and
                            private sector contractors. The main topics of the workshop include funding, contracts, and
                            authority for work zones; roadway work zone elements and components; training for workers
                            and supervisors; planning and implementation of work zones; maintenance and demobilization
                            of work zones; preventing struck-by and runover/ backover incidents; and safety for workers
                            and the public.

                        </div>
                        <div class="m-tb30">
                            <div class="section-head">
                                <h3>Programme content</h3>
                                <div class="wt-separator-outer">
                                    <div class="wt-separator bg-black"></div>
                                </div>
                            </div>
                            <div class="section-content">
                                <div class="row">


                                    <div class="col-md-6 col-sm-6">
                                        <ul class="list-arrow-circle green">
                                            <li>Tuition</li>
                                            <li>Soft copies of course</li>
                                            <li>Online IRF Subscription News letter</li>
                                            <li>IRF Registration support</li>
                                            <li>IRF Credential application support</li>
                                            <li>IRF Acredited Training Certificate</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="panel wt-panel">
                    <div class="acod-head">
                        <h6 class="acod-title text-uppercase">
                            <a data-toggle="collapse" href="#collapseThree9" class="collapsed"
                                data-parent="#accordion9">
                                Fidic training program
                                <span class="indicator"><i class="fa fa-plus"></i></span>
                            </a>
                        </h6>
                    </div>
                    <div id="collapseThree9" class="acod-body collapse">
                        <div class="section-content m-tb80">
                            <!-- TITLE START -->
                            <div class="section-head">
                                <h3>Course content</h3>
                                <div class="wt-separator-outer">
                                    <div class="wt-separator bg-black"></div>
                                </div>
                            </div>
                            <!-- TITLE END -->
                            <h5>BEGINNER LEVEL</h5>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Modules</th>
                                        <th>Names</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Module 1</td>
                                        <td>Practical use of FIDIC Contracts</td>

                                    </tr>
                                </tbody>
                            </table>
                            <h5>INTERMEDIATE LEVEL</h5>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Modules</th>
                                        <th>Names</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Module 1</td>
                                        <td>Advanced</td>

                                    </tr>
                                    <tr>
                                        <td>Module 2</td>
                                        <td>Claims and Dispute Resolutions unser FIDIC</td>
                                    </tr>
                                    <tr>
                                        <td>Module 3</td>
                                        <td>FIDIC Contracts Management and Administration</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h5>ADVANCED LEVEL</h5>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Modules</th>
                                        <th>Names</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Module 4</td>
                                        <td>Understanding DABs</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="m-tb30">
                            <div class="section-head">
                                <h3>Programme content</h3>
                                <div class="wt-separator-outer">
                                    <div class="wt-separator bg-black"></div>
                                </div>
                            </div>
                            <div class="section-content">
                                <div class="row">


                                    <div class="col-md-6 col-sm-6">
                                        <ul class="list-arrow-circle green">
                                            <li>Tuition</li>
                                            <li>Soft copies of course material</li>
                                            <li>Online FIDIC Subscription News letter</li>
                                            <li>FIDIC Acredited Training Certificate</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel wt-panel">
                    <div class="acod-head">
                        <h6 class="acod-title text-uppercase">
                            <a data-toggle="collapse" href="#collapseFour9" class="collapsed" data-parent="#accordion9">
                                asphalt technology
                                <span class="indicator"><i class="fa fa-plus"></i></span>
                            </a>
                        </h6>
                    </div>
                    <div id="collapseFour9" class="acod-body collapse">
                        <div class="acod-content p-tb15">Decades of experties are represented in our Asphalt institute
                            seminars, webinars and training materials. We are dedicated to teaching best practices for
                            testing, design and application of the asphalt in the paving and roofing industries</div>

                        <div class="m-tb30">
                            <div class="section-head">
                                <h3>Programme content</h3>
                                <div class="wt-separator-outer">
                                    <div class="wt-separator bg-black"></div>
                                </div>
                            </div>
                            <div class="section-content">
                                <div class="row">


                                    <div class="col-md-6 col-sm-6">
                                        <ul class="list-arrow-circle green">
                                            <li>Tuition</li>
                                            <li>Soft copies of course materials</li>
                                            <li>Online Asphalt Subscription News Letter</li>
                                            <li>ASPHALT Acredited Training Certificate</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="section-content m-b80">
                            <!-- TITLE START -->
                            <div class="section-head">
                                <h3>Course content</h3>
                                <div class="wt-separator-outer">
                                    <div class="wt-separator bg-black"></div>
                                </div>
                            </div>
                            <!-- TITLE END -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Modules</th>
                                        <th>Names</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Module 1</td>
                                        <td>Asphalt Binders</td>

                                    </tr>
                                    <tr>
                                        <td>Module 2</td>
                                        <td>Asphalt Mix Design</td>

                                    </tr>
                                    <tr>
                                        <td>Module 3</td>
                                        <td>Asphalt Construction</td>

                                    </tr>
                                    <tr>
                                        <td>Module 4</td>
                                        <td>Bitumen Emusions and Foamed Bitumen</td>

                                    </tr>
                                    <tr>
                                        <td>Module 5</td>
                                        <td>Maintenance, Repair and Rehabilitation</td>

                                    </tr>
                                    <tr>
                                        <td>Module 6</td>

                                        <td>Additives in Asphalt (Parts 1 - 3)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel wt-panel">
                    <div class="acod-head">
                        <h6 class="acod-title text-uppercase">
                            <a data-toggle="collapse" href="#collapseSix9" class="collapsed" data-parent="#accordion9">
                                hdm-4 version 2 training courses
                                <span class="indicator"><i class="fa fa-plus"></i></span>
                            </a>
                        </h6>
                    </div>
                    <div id="collapseSix9" class="acod-body collapse">
                        <div class="acod-content p-tb15">Highway Developement and Management tools for the development
                            of economic and technical strategies of highways in low and middle income countries.<br> The
                            duration and frequency of these courses will vary with perhaps half day sessions required
                            for `awareness raising` perhaps 2- 3 days for general users and up to 2 - 3 weeks for expert
                            users and trainers. The train-the trainers course in the Asia - Pacific project was of
                            3-weeks duration and comprised </div>
                        <div class="m-tb30">
                            <div class="section-head">
                                <h3>Programme content</h3>
                                <div class="wt-separator-outer">
                                    <div class="wt-separator bg-black"></div>
                                </div>
                            </div>
                            <div class="section-content">
                                <div class="row">


                                    <div class="col-md-6 col-sm-6">
                                        <ul class="list-arrow-circle green">
                                            <li>Tuition</li>
                                            <li>Soft copies of course materials</li>
                                            <li>HDM-4 software acquisation support</li>
                                            <li>HDM-4 Acredited User Certificate</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="section-content m-b80">
                            <!-- TITLE START -->
                            <div class="section-head">
                                <h3>Course content</h3>
                                <div class="wt-separator-outer">
                                    <div class="wt-separator bg-black"></div>
                                </div>
                            </div>
                            <!-- TITLE END -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Hours</th>
                                        <th>Names</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>3 hours</td>
                                        <td>Introductory sessions</td>

                                    </tr>
                                    <tr>
                                        <td>24 hours</td>
                                        <td>Technical presentations</td>

                                    </tr>
                                    <tr>
                                        <td> 8 hours</td>
                                        <td>Trainer-led HDM-4 worked example</td>

                                    </tr>
                                    <tr>
                                        <td>22 hours</td>
                                        <td>Hands on case studies and exercises using HDM-4 application</td>

                                    </tr>
                                    <tr>
                                        <td>14 hours</td>
                                        <td>Training skills presentations</td>

                                    </tr>
                                    <tr>
                                        <td> 18 hours</td>
                                        <td>Training skills workshops</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PROGRAMS  BG DARK END-->
        

    </div>
    <!-- OUR PROGRAMS SECTION END -->



</div>
<!-- CONTENT END -->
<%- include('_footer')%>